
/* card */
.card {
    background-color: rgba(206, 206, 206, 0.498) !important;
    width: 100%;
    height: 80vh;
    padding: 30px;
    margin-bottom: 20px;
}

.card .smallH {
    max-width: 70%;
}

a.card,
a.card:hover {
    text-decoration: none !important;
    transition: all 300ms ;
}
a.card:hover {
    transform: scale(1.025);
}