@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general */
* {
    font-family: montserrat !important;
    color: #111;
}

body {
    background-color: #f2eff5;
    overflow-x: hidden;
    font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500 !important;
}

.head {
    font-size: 3.2rem;
}

.midH {
    font-size: 2.5rem;
}

.smallH {
    font-size: 21px;
    /* font-weight: 600 !importa    nt; */
}

.subH {
    font-size: .875rem;
    text-transform: uppercase;
    color: #aaaaaa;
    letter-spacing: 3px;
    margin-bottom: 10px;
}


.link {
    display: inline;
    margin-bottom: 1em;
    color: #111;
    font-weight: bold;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.link:hover {
    color: #111;
    text-decoration-color: #111;
    text-underline-offset: 0.4em;
}

/* nav */
.nav {
    height: 100px;
}

nav .logo {
    font-weight: 900;
    text-decoration: none;
    margin: 35px 0px 0px 35px;
    position: fixed;
}

nav .logo h2,
nav .logo p {
    width: 200px;
    display: inline-block;
    position: fixed;
    left: 85px;
}

nav .logo h2 {
    font-size: 20px;
    top: 35px;
}

nav .logo p {
    letter-spacing: 0.4px;
    margin-left: 1px;
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 300;
    top: 61px;
}

nav img {
    width: 42px;
}

/* menu */
label .menu {
    position: fixed;
    right: 35px;
    top: 35px;
    z-index: 100;
    width: 42px;
    height: 42px;
    background: #272727;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #272727, 0 0 0 0 #272727;
    cursor: pointer;

}

label .hamburger {
    position: fixed;
    top: 55px;
    right: 45px;
    width: 21px;
    height: 2.5px;
    background: #ccc;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
}

label .hamburger:before {
    top: -8px;
}

label .hamburger:after {
    bottom: -8px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #272727, 0 0 0 100vh #272727;
    border-radius: 0;

}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;

}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;

}

label input:checked+.menu+ul {
    /* display: block;
    color: #ccc;
    opacity: 1; */
    top: 50%;
    right: 45%;

}

label ul {
    z-index: 200;
    position: fixed;
    text-align: center;
    top: -6vh;
    right: -16vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* display: none;
    color: #ccc00;
    opacity: 0; */
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
}

li::marker {
    color: rgba(255, 255, 255, 0);
}

label a {
    margin-bottom: 1em;
    display: block;
    color: #ccc;
    font-weight: bold;
    font-size: 25px !important;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

label a:hover {
    color: #ccc;
    text-decoration-color: #ccc;
    text-underline-offset: 0.4em;
}


/* landing */
.landing {
    height: 90vh;
}

.landing .left {
    padding-top: 250px;
}

.landing .right {
    padding-top: 100px;
    text-align: center !important;
}

.imageRot {
    width: 80%;
    animation: rotation 100s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}