@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general */
* {
    font-family: montserrat !important;
    color: #111;
}

body {
    background-color: #f2eff5;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

.subH {
    font-size: .875rem;
    text-transform: uppercase;
    color: #aaaaaa;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.link {
    display: inline;
    margin-bottom: 1em;
    color: #111;
    font-weight: bold;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.link:hover {
    color: #111;
    text-decoration-color: #111;
    text-underline-offset: 0.4em;
}