  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

  /* general */
  * {
      font-family: montserrat !important;
      color: #111;
  }

  body {
      background-color: #f2eff5;
      overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: 700 !important;
  }

  .subHeading {
      text-transform: uppercase;
      color: #bebebe;
      letter-spacing: 3px;
  }

  /* nav */
  .nav {
      height: 100px;
  }

  nav .logo {
      font-weight: 900;
      text-decoration: none;
      margin: 35px 0px 0px 35px;
      position: fixed;
  }

  nav .logo h2,
  nav .logo p {
      width: 200px;
      display: inline-block;
      position: fixed;
      left: 85px;
  }

  nav .logo h2 {
      font-size: 20px;
      top: 35px;
  }

  nav .logo p {
      letter-spacing: 0.4px;
      margin-left: 1px;
      font-size: 12px;
      color: #8e8e8e;
      font-weight: 300;
      top: 61px;
  }

  nav img {
      width: 42px;
  }