/* nav */
.nav {
    height: 100px;
}

nav .logo {
    font-weight: 900;
    text-decoration: none;
    margin: 35px 0px 0px 35px;
    position: fixed;
}

nav .logo h2,
nav .logo p {
    width: 200px;
    display: inline-block;
    position: fixed;
    left: 85px;
}

nav .logo h2 {
    font-size: 20px;
    top: 35px;
}

nav .logo p {
    letter-spacing: 0.4px;
    margin-left: 1px;
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 300;
    top: 61px;
}

nav img {
    width: 42px;
}

/* landing */

.landing .left {
    padding-top: 200px;
}

.landing .right {
    padding-top: 100px;
    text-align: center !important;
}

.imageRot {
    width: 80%;
    animation: rotation 100s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}